@model AdventurousContacts.Models.Contact

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ContactID)

    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.FirstName, new { size = 50, maxlength = 50 })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.LastName, new { size = 50, maxlength = 50 })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.EmailAddress)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EmailAddress, new { size = 50, maxlength = 50 })
        @Html.ValidationMessageFor(model => model.EmailAddress)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}
